.return-to-ship{
    padding: 10px 14px;
    border: #e6faf8 1px solid;
    background-color: #05050e;
    border-radius: 10px;
    color: #e6faf8;
    font-family: "Major Mono Display", monospace;
    font-size: 14px;
    /*margin: 40px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    font-weight: 600;
    cursor: pointer;
}
