.exploded-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

.exploded-img-container{
    width: 80vw;
    height: 80vh;
    position: fixed;
    z-index: 104;
    left: 10vw;
    top: 10vh;
}

.implode{
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 103;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";       /* IE 8 */
    filter: alpha(opacity=0.5);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;
}

.exploded{
    cursor: pointer;
}
