.scroll-lock{
    overflow-y: hidden;
    overflow: hidden;
}

.scroll-auto{
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-auto::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
