.back-rocket{
    border-radius: 50%;
    background-color: #e6faf8;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.rocket-icon{
    transform: scaleX(-1);
    color: #05050e;
    margin: 2px 0 0 2px;
}

@media (min-width: 901px) {
    .back-rocket{
        display: none;
    }
}
