.icon{
    /* color: #D09CFA; */
    margin: 0 15px 0 0;
}

.contact-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    color: #e6faf8;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.link{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #D09CFA;
    line-height: 28px;
    text-decoration: none;
    margin: 0;
}

.contact-lines-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .link{
        font-size: 14px;
    }
}
