.section {
    width: 76%;
    height: calc(100vh - 40px);
    position: fixed;
    left: calc(50% - 38%);
    top: calc(50% - (100vh - 40px) / 2);
    /*transform: translate(-50%, -50%);*/
    z-index: 102;
    padding: 60px 6%;
    box-sizing: border-box;
    background-color: #05050e;
    /*opacity: 50%;*/
    border-radius: 6px;
    color: #e6faf8;
    overflow-y: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
    overflow-x: hidden;
    text-align: left;
}

.home-fixed-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*min-height: 100vh;*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
.section::-webkit-scrollbar {
    display: none;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-title {
    font-family: "Major Mono Display", monospace;
    margin: 0;
    font-size: 30px;
    color: #e6faf8;
}

.section-text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #e6faf8;
    margin: 40px 0 0;
    line-height: 28px;
    /*text-indent: 40px;*/
}

.section-separator {
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
}

.section-list-item-title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #e6faf8;
    margin: 20px 0 0;
    line-height: 28px;
    /*text-indent: 40px;*/
}

.section-list {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #e6faf8;
    margin: 10px 0 0;
    line-height: 30px;
    /*text-indent: 40px;*/
}

.award-list-item {
    margin-bottom: 20px;
}

.section-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #e6faf8;
    margin: 40px 0 0;
    line-height: 28px;
    font-weight: 700;
}


.home-page {
    background: url('background/coffee-space-cake.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 13;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    word-wrap: break-word;
    /*overflow-wrap: anywhere;*/
    word-break: normal;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-page::-webkit-scrollbar {
    display: none;
}

.home-scroll-lock {
    overflow-y: hidden;
    overflow: hidden;
}

.home-scroll-auto {
    overflow-y: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.home-scroll-auto::-webkit-scrollbar {
    display: none;
}

.cloud {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #7F8487;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)"; /* IE 8 */
    filter: alpha(opacity=0.5); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
}

.home-header {
    text-align: center;
    padding: 60px 0 0;
    box-sizing: border-box;
    height: 100px;
}

.home-header-title {
    font-family: "Major Mono Display", monospace;
    color: #e6faf8;
    font-size: 52px;
    margin: 0;
}

/* planets stuff */

.planet-base {
    cursor: pointer;
}

.star {
    width: 200px;
    height: 200px;
    cursor: default;
}

.blue-white-planet {
    width: 84px;
    height: 84px;
}

.red-planet {
    width: 86px;
    height: 86px;
}

.green-planet {
    width: 100px;
    height: 100px;
}

.pink-planet {
    width: 75px;
    height: 75px;
}

/* section titles */

.base-title {
    font-family: 'Major Mono Display', monospace;
    color: #e6faf8;
    font-size: 24px;
    margin: 14px 0 0;
    cursor: pointer;
    display: inline-block;
}

.about-title {
    margin: -30px 0 0;
}

/*sections*/

.section-base {
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*effect-underline*/
.effect-underline:after {
    content: '';
    /*position: absolute;*/
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-top: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: opacity 0.25s, transform 0.25s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.planet-hover:hover + .effect-underline:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.research {
    left: 13%;
    bottom: 20%;
}

.academics {
    left: 25%;
    top: 27%;
}

.about {
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}

.projects {
    right: 28%;
    top: 24%;
}

.resume {
    right: 15%;
    bottom: 20%;
}

.link:hover {
    text-decoration: underline;
}

.projects-hover-div {
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 101;
    background-color: transparent;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    -moz-opacity: 0; /* Netscape */
    -khtml-opacity: 0; /* Safari 1.x */
    opacity: 0; /* Good browsers */
}

@media (max-width: 440px) {
    .home-header-title {
        font-size: 44px;
    }
}

@media (max-width: 900px) {

    .research {
        left: unset;
        bottom: unset;
        position: static;
    }

    .academics {
        left: unset;
        top: unset;
        position: static;
    }

    .resume {
        position: static;
        right: unset;
        top: unset;
    }

    .section-base {
        padding-bottom: 80px;
    }

    .section-base:last-child{
        padding-bottom: 0;
    }

    .projects {
        left: unset;
        top: unset;
        position: static;
    }

    .about {
        right: unset;
        bottom: unset;
        position: static;
        /*padding-bottom: 30px;*/
    }

    .projects-hover-div {
        position: relative;
        z-index: unset;
        left: unset;
        top: unset;
        bottom: 50px;
        margin-top: -100px;
    }

    /*effect-underline*/
    .effect-underline:after {
        all: unset;
    }

    .planet-hover:hover + .effect-underline:after {
        all: unset;
    }

    .effect-underline:hover:after {
        all: unset;
    }


    .home-header {
        height: unset;
        margin-bottom: 40px;
    }

    .home-header {
        padding-top: 0;
    }

    .home-page {
        padding: 60px 0;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
        width: unset;
        height: unset;
    }

    .section {
        width: unset;
        height: unset;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
        border-radius: unset;
        overflow-wrap: anywhere;
        -webkit-overflow-scrolling: touch;
        padding: 30px;
    }

    .cloud {
        display: none;
    }

    .section-text {
        font-size: 16px;
    }

    .section-list-item-title {
        font-size: 16px;
    }

    .section-list {
        font-size: 16px;
    }

    .section-subtitle {
        font-size: 16px;
    }
}


